<main id="Cart-Products">
  <h1> Cart </h1>
  <div id = "products-cart"> </div>
</main>

  <script id="prodcat-template" type="text/x-handlebars-template">
    \{{#if login}}
        <table>
        <thead>
          <tr>
            \{{#each details}}
              <th class="headers">\{{this}}</th>
            \{{/each}}
          </tr>
        </thead>
        <tbody>
          \{{#each products}}
            <tr>
                <td>\{{this.title}}</td>
                <td class="prices" id="c" >\{{this.cost}} $ </td>
                <td >\{{this.quantity}}</td>
            </tr>
          \{{/each}}
        </tbody>
        </table>
        <p id="totalcostt" > Total cost : <span  id="tc" class="prices">\{{totalcost}} $<span> </p>
    \{{/if}}
  </script>

  <img id="photowithcart" src="../media/cartimage.png" alt="Person who is running with a cart">

<script type="text/javascript" src="../javascript/cart.js"></script>
