<main id="category-products">
    <br><br><br>
    <button id="view-cart" onclick="goToCart()">
        <img class="cart" src="../media/shopping-cart-white.png">
        <div id="num-items-in-cart"></div>
    </button>
    <form method="POST" id="signin-form"  class="loginForm" novalidate>
        <fieldset id="signin-registration-form" class="loginForm">
            <legend class="loginForm">Sign in</legend>

            <div class="input-username" id="username-input">
                <label for="profile-username" class="loginForm">
                  Username:
                </label>
                <input  class="loginForm" type="username" id="profile-username" name="signin_Username" placeholder="Username" required>
            </div>

            <div class="input-password" id="password-input">
                <label for="profile-password" class="loginForm">
                  Password:
                </label>
                <input  placeholder="Secret code" class="loginForm" type="password" autocomplete="current-password" id="profile-password" name="signin_Password" required>
            </div>

            <div id="login-message"></div>

        </fieldset>

        <div class="buttons" id="signin-buttons">
            <input type="submit"   value="Submit" class="buttonLogin" id="button-login-submit" name="submit">
        </div>
    </form>

    <div id="title"></div>
    <aside id="filters"></aside>
    <article id="products"></article>
</main>

<script id="num-items-in-cart-template" type="text/x-handlebars-template">
    <p>(\{{num_items_in_cart}})</p>
</script>

<script id="title-template" type="text/x-handlebars-template">
    <h1 class="loginForm">Product Category: \{{category_title}}</h1>
</script>

<script id="subcategories-template" type="text/x-handlebars-template">
    <legend class="radiochoices">Click bellow to apply filters:</legend>
    <ul id="subcategories-list" class="loginForm">
        <li class="subcategory" class="loginForm">
            <label class="radiochoices" for="all">
                <input type="radio" id="all" name="subcategory" value="all" checked="checked" onchange="filterProducts()">
                    All
            </label>
        </li>
        \{{#each subcategories}}
        <li class="subcategory" class="loginForm">
            <label class="radiochoices" for="\{{this.title}}">
                <input type="radio" id="\{{this.title}}" name="subcategory" value="\{{this.title}}" onchange="filterProducts()">
                    \{{this.title}}
            </label>
        </li>
        \{{/each}}
    </ul>
    <br><br><br><br>
</script>


<script id="product-template" type="text/x-handlebars-template">
    \{{#each products}}
        <div class="product">
            <h2 class="Prodtitle">\{{this.title}}</h2>
            <img class="productImg" src="\{{this.image}}" >
            \{{this.description}}
            <br>
            <div id="price"> Cost:  \{{this.cost}}  $   &nbsp; &nbsp;</div>
            <button id="add-cart-button" type="button" onclick="addToCart(\{{this.id}})">
                <img class="cart" src="../media/shopping-cart-white.png">
            </button>
        </div>
    \{{/each}}
</script>

<script id="login-message-template" type="text/x-handlebars-template">
    \{{#if login_attempt}}
        <span id="login-result">\{{login_message}}</span>
    \{{/if}}
</script>

<script type="text/javascript" src="../javascript/category.js"></script>
<script type="text/javascript" src="../javascript/signin.js"></script>
